.table-wrapper {
  width: 100%;
}

td,
th {
  width: 26%;
}

.quantity {
  border: 1px solid #dddddd;
  height: 40px;
  text-align: center;
  width: 60px;
  margin: 0px 10px 0px 10px;
}

@media (min-width: 1001px) and (max-width: 1150px) {
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .table-wrapper {
    width: calc(92vw - 302px) !important;
  }
  table {
    width: 800px !important;
  }
}

@media (min-width: 1150px) and (max-width: 1400px) {
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  .table-wrapper {
    width: calc(92vw - 302px - 270px) !important;
  }
  table {
    width: 800px !important;
  }
}
