<mat-toolbar color="primary">
  My Cart
</mat-toolbar>

<div class="table-container mat-elevation-z8">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/detail',row._id]" class="product-link">
            <img [src]="row.imageUrl" class="product-img" [alt]="row.name" />
            <span>{{row.name}}</span>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price | decimalFixed}} BGN </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-mini-fab color="primary" (click)="updateQuantity(i,'increase');">
            <mat-icon>add</mat-icon>
          </button>
          <input class="quantity" matInput type="number" [value]="row.quantity" readonly="true" />
          <button mat-mini-fab color="primary" (click)="updateQuantity(i,'decrease');">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let row"> {{row.totalPrice | decimalFixed}} BGN</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-mini-fab color="warn" (click)="removeFromCart(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of cart products"></mat-paginator>
</div>