.products-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.4s ease 0.2s;
  min-height: 450px;
}

.products-list li {
  padding-top: 0px;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

.products-list li:hover {
  transform: scale(1.05);
}

@media (max-width: 620px) {
  .products-list {
    justify-content: center;
  }
  .products-list li {
    padding: 0px;
    padding-bottom: 20px;
  }
  .products-list li:last-of-type {
    padding-bottom: 0px;
  }
}
