.table-wrapper {
  width: 100%;
}
.hidden .table-wrapper {
  display: none;
}
.hidden mat-paginator {
  display: none;
}

td,
th {
  width: 20%;
  text-align: center;
}

@media (min-width: 1001px) {
  .table-wrapper {
    width: calc(92vw - 302px) !important;
  }
  table {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .table-wrapper {
    height: calc(100vh - 13rem - 112px);
  }
}

@media (max-width: 650px) {
  .table-wrapper {
    height: calc(100vh - 9rem - 112px);
  }
}
