.table-wrapper {
  width: 100%;
}

th,
td {
  width: 17%;
}

::ng-deep td .mat-chip-list-wrapper,
::ng-deep td .mat-chip-list-wrapper .mat-standard-chip {
  justify-content: center;
  margin: 0px;
}

::ng-deep .mat-column-rating .mat-sort-header-container,
::ng-deep .mat-column-size .mat-sort-header-container,
::ng-deep .mat-column-dough .mat-sort-header-container,
::ng-deep .mat-column-weight .mat-sort-header-container {
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
}

@media (min-width: 1001px) and (max-width: 1150px) {
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .table-wrapper {
    width: calc(92vw - 302px) !important;
  }
  table {
    width: 800px !important;
  }
}
