<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['detail',row._id]" class="product-link">
          <img [src]="row.imageUrl" class="product-img" [alt]="row.name" />
          <span>{{row.name}}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>{{row.size.size | firstCapitalLetter}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="grams">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Grams </th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>{{row.gr}} g</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="dough">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dough </th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>{{row.dough.dough | firstCapitalLetter}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
      <td mat-cell *matCellDef="let row">
        <app-star-rating [rating]="row.rating" [showRatingInfo]="true" position="vertical"></app-star-rating>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row; let i = index" class="actions">
        <button mat-mini-fab color="warn" (click)="removeFromFavorites(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="row.isOn = !row.isOn">
          <mat-icon *ngIf="row.isOn">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!row.isOn">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">

      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="row student-element-detail" [@detailExpand]="element.isOn ? 'expanded' : 'collapsed'">
          <p>Description: Lots of pepperoni, and lots of cheese! This firm favourite deserves it’s place at the top of
            the PizzazTin list.
          </p>
          <div class="ingredients-container">
            <h2 matCardTitle>Ingredients:</h2>
            <mat-chip-list>
              <mat-chip *ngFor="let ingredient of ingredients" color="primary" selected>
                {{ingredient}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>


      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"
      [class.student-expanded-row]="row.isOn"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of cart products"></mat-paginator>
</div>