.table-wrapper {
  width: 100%;
}

::ng-deep .mat-column-rating .mat-sort-header-container,
::ng-deep .mat-column-size .mat-sort-header-container,
::ng-deep .mat-column-dough .mat-sort-header-container,
::ng-deep .mat-column-weight .mat-sort-header-container {
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
}

@media (min-width: 1001px) and (max-width: 1150px) {
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .table-wrapper {
    width: calc(92vw - 302px) !important;
  }
  table {
    width: 800px !important;
  }
}

@media (max-width: 1000px) {
  .table-wrapper {
    height: calc(100vh - 13rem - 111px);
  }
}

@media (max-width: 650px) {
  .table-wrapper {
    height: calc(100vh - 9rem - 111px);
  }
}
