.table-wrapper {
  width: 100%;
}

td,
th {
  width: 20%;
}

.mat-chip-list-stacked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  width: auto;
}
.actions button:first-of-type {
  margin-right: 10px;
}

@media (max-width: 650px) {
  .actions {
    height: 86px;
  }
}

@media (min-width: 1001px) and (max-width: 1150px) {
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .table-wrapper {
    width: calc(92vw - 302px) !important;
  }
  table {
    width: 800px !important;
  }
}
