<section class="container">
  <header class="header">
    <h2 mat-dialog-title>Favorite Product Detail</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-divider></mat-divider>
  <mat-dialog-content class="mat-typography">
    <ng-container>
      <div class="content">
        <main>
          <div class="image-container">
            <h3>{{data?.name}}</h3>
            <img [src]="data?.imageUrl" class="product-img" [alt]="data?.name" />
          </div>
          <mat-chip-list class="product-info">
            <div class="left">
              <app-mat-chip-item label="Size:" [value]="(data?.size?.size || '') | firstCapitalLetter">
              </app-mat-chip-item>
              <app-mat-chip-item label="Dough:" [value]="(data?.dough?.dough || '') | firstCapitalLetter">
              </app-mat-chip-item>
            </div>
            <div class="right">
              <app-mat-chip-item label="Weight:" [value]="(data?.weight || 0) + ' g'">
              </app-mat-chip-item>
              <app-mat-chip-item label="Price:" [value]="((data?.price || 0) | decimalFixed) + ' BGN'">
              </app-mat-chip-item>
            </div>
          </mat-chip-list>
  
        </main>
        
        <div class="description">
          <p>{{data?.description}}</p>
        </div>
        <h3>Ingredients:</h3>
        <mat-chip-list>
          <mat-chip *ngFor="let ingredient of data?.ingredients">
            {{(ingredient.ingredient || '') | firstCapitalLetter}}
          </mat-chip>
        </mat-chip-list>

        <ng-container *ngIf="data?.extras?.length !== 0">
          <h3 class="extras-title">Extras:</h3>
          <mat-chip-list>
            <mat-chip *ngFor="let extra of data?.extras">
              {{(extra.extra || '') | firstCapitalLetter}}
            </mat-chip>
          </mat-chip-list>
        </ng-container>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <app-star-rating [rating]="data?.rating || 0" [showRatingInfo]="true"></app-star-rating>
  </mat-dialog-actions>
</section>