::ng-deep .mat-dialog-container {
  padding-top: 0px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0px;
}

.header h2 {
  margin-bottom: 0px;
}

.content {
  padding: 20px 0px;
}

.content main {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.content h3 {
  margin-bottom: 0px;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #e0e0e0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

::ng-deep .product-info .mat-chip-list-wrapper {
  justify-content: flex-start;
}

::ng-deep .mat-chip-list-wrapper {
  max-width: 400px;
}

.favorite-container .left {
  margin-right: 10px;
}
.favorite-container .description {
  max-width: 370px;
}

.favorite-container .extras-title {
  margin-top: 12px;
}
@media (max-width: 700px) {
  .header h2 {
    font-size: 18px;
  }
  .content {
    width: 100%;
  }
  .content main {
    flex-direction: column;
    align-items: center;
  }
  .content h3 {
    margin-bottom: 5px;
  }

  .image-container {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .image-container img {
    width: 200px;
    height: 150px;
  }
  .description {
    margin-top: 0px;
  }
  ::ng-deep .product-info .mat-chip-list-wrapper {
    justify-content: space-between;
  }
  .favorite-container .left,
  .favorite-container .right {
    display: flex;
    flex-direction: column;
  }
  .favorite-container .extras-title,
  .favorite-container .ingredients-title {
    text-align: center;
  }
  .favorite-container .mat-chip-list {
    width: 100%;
  }
  ::ng-deep .product-info .mat-chip-list-wrapper {
    justify-content: space-around;
  }
  ::ng-deep .mat-chip-list-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .favorite-container .description {
    max-width: 100%;
    text-align: justify;
  }
  .content {
    min-width: 250px;
  }
}
@media (max-width: 400px) {
  .content {
    min-width: 200px;
  }
}
