html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 350px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(90, 88, 88, 0.01);
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 119, 119, 0.651);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 75, 75, 0.76);
}

.mat-snack-bar-container {
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
}
