.register-container {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

.register-image {
  width: 150px;
  display: flex;
  margin: 10px auto;
  padding-top: 20px;
}

.register-form {
  padding: 0px 20px;
  padding-bottom: 10px;
  text-align: center;
}

.form-control {
  width: 100%;
}
.btn-register {
  width: 200px;
}

.register-link-container {
  margin-bottom: 10px;
  text-align: center;
}

.register-link-container a {
  text-decoration: underline;
  color: #3f51b5;
  padding-left: 5px;
}

