.mat-container {
  display: flex;
  flex-direction: column;
}

.mat-container span {
  display: block;
  margin: auto;
}

::ng-deep .mat-container .mat-standard-chip {
  justify-content: center;
  width: 100%;
}
