.chip-item-container {
  display: flex;
  flex-direction: column;
}

.chip-item-container span {
  display: block;
  margin: auto;
}

.chip-item-container .mat-standard-chip {
  justify-content: center!important;
  width: 100%!important;
}
