:host {
  width: 100%;
}

.search {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
}

.search-input {
  width: 80%;
  max-width: 500px;
}

.control {
  margin: 0 20px;
}

.icon {
  margin: 0px 10px;
}
.icon:hover {
  cursor: pointer;
}

.mat-select {
  width: 0px !important;
}

@media (max-width: 660px) {
  .icon {
    display: none;
  }
  .control {
    margin: 0px;
    width: 100%;
  }
}
