.favorites-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favorites-content {
  width: 100%;
}

app-aside-menu {
  flex: 2 1;
  position: sticky;
  top: 3rem;
}
