<section class="profile-container">
  <app-aside-menu></app-aside-menu>
  <div class="profile-content">
    <mat-toolbar color="primary">
      My Personal Information
    </mat-toolbar>
    <mat-card>

      <mat-card-content>
        <div class="image-container">
          <img [src]="(userImage$ | async)?.url" alt="user-profile-image">
          <app-file-upload (onPickFile)="onFileUpload($event)" [isLoading]="(uploadImageIsLoading$|async)|| false">
          </app-file-upload>
        </div>
        <app-user-info-form position="vertical" [readOnly]="true"></app-user-info-form>
        <app-user-address-form position="vertical" [readOnly]="true"></app-user-address-form>
      </mat-card-content>
      <mat-tab-group backgroundColor="primary" color="warn">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">account_circle</mat-icon>
            Edit your information
          </ng-template>
          <div class="form-container" [ngClass]="{'is-loading': (updateUserInfoIsLoading$|async)}">
            <app-loading-spinner position="absolute" *ngIf="(updateUserInfoIsLoading$|async)"></app-loading-spinner>
            <app-user-info-form></app-user-info-form>
          </div>
        </mat-tab>

        <mat-tab >
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">edit_location</mat-icon>
            Edit your address
          </ng-template>
          <div class="form-container" [ngClass]="{'is-loading': (updateUserAddressIsLoading$|async)}">
            <app-loading-spinner position="absolute" *ngIf="(updateUserAddressIsLoading$|async)"></app-loading-spinner>
            <app-user-address-form></app-user-address-form>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">edit_location</mat-icon>
            Change your password
          </ng-template>
          <div class="form-container" [ngClass]="{'is-loading': (updateUserAddressIsLoading$|async)}">
            <app-loading-spinner position="absolute" *ngIf="(updateUserAddressIsLoading$|async)"></app-loading-spinner>
            <app-user-password-form></app-user-password-form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</section>