.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-content {
  width: calc(100vw - 302px);
}

app-aside-menu {
  flex: 2 1;
  position: sticky;
  top: 3rem;
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
}

.image-container {
  flex: 4;
  padding: 0px 20px;
  justify-content: flex-start;
}

.mat-card-content app-user-info-form,
.mat-card-content app-user-address-form,
.mat-card-content app-user-password-form {
  flex: 4;
  padding: 0px 20px;
}

mat-tab-group {
  flex: 8;
  padding: 20px;
  padding-top: 0px;
  min-height: 200px;
}
.form-container {
  margin-top: 20px;
  position: relative;
}

.tab-icon {
  margin-right: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 238px;
  object-fit: cover;
}
app-file-upload {
  width: 100%;
  max-width: 300px;
  margin: 0px;
  margin-top: 10px;
}

.is-loading {
  background: #6c70744a;
  border-radius: 4px;
}

@media (max-width: 650px) {
  .label {
    display: none;
  }
}

@media (max-width: 1120px) {
  app-aside-menu {
    display: none;
  }

  .profile-content {
    width: 100%;
  }
}

@media (max-width: 1285px) {
  .mat-card-content {
    flex-direction: column;
  }
  .image-container {
    margin: 20px auto;
  }
}
