form {
  flex-direction: column;
}
.form-control {
  width: 100%;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row > * {
  width: 48%;
}
.vertical {
  flex-direction: column;
}
.vertical > * {
  width: 100%;
}

.btn-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.btn-actions button {
  width: 150px;
}

@media (max-width: 650px) {
  .btn-actions {
    margin-bottom: 0px;
  }
}

@media (max-width: 1070px) {
  .form-row {
    flex-direction: column;
  }
  .form-row > * {
    width: 100%;
  }
}
