mat-toolbar {
  height: 50px;
}
.cart-information {
  margin-left: 20px;
  width: 250px;
}
.cart-information .mat-toolbar,
.total-price {
  text-align: center;
  justify-content: center;
}

.total-price h2 {
  padding: 5px 0px;
  margin-bottom: 0px;
}
.mat-card > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mat-card > a {
  width: 100%;
}

.mat-button-disabled {
  pointer-events: none;
}

@media (max-width: 1150px) {
  .cart-information {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}
