<div class="cart-information">
  <mat-toolbar color="primary">
    Information
  </mat-toolbar>
  <mat-card>
    <p>
      <span>Total products:</span>
      <span>2</span>
    </p>
    <p>
      <span>Price:</span>
      <span>25.99 BGN</span>
    </p>
    <p>
      <span>Delivery Tax:</span>
      <span>0.00 BGN</span>
    </p>
    <mat-divider></mat-divider>
    <div class="total-price">
      <h2>Total price:</h2>
      <h2>4363.00 BGN</h2>
    </div>
    <a href="/cart/checkout" mat-raised-button color="primary">Continue</a>

  </mat-card>
</div>