.cart-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-content {
  width: 100%;
  flex: 8 1;
}

app-aside-menu,
app-cart-information {
  flex: 2 1;
  position: sticky;
  top: 7em;
}
