::ng-deep .mat-dialog-container {
  padding-top: 0px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0px;
}

.header h2 {
  margin-bottom: 0px;
}

header {
  display: flex;
  margin: 10px auto;
  align-items: flex-start;
}

.image-container {
  text-align: center;
  margin-right: 20px;
}
.image-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.rate {
  display: flex;
  margin-top: 10px;
}
.rate h2 {
  margin: 0 20px 0 0;
}
h2 {
  margin-bottom: 0px;
}

@media (max-width: 700px) {
  .rate-product-container {
    width: 70vw;
  }
  .header h2 {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .rate {
    flex-direction: column;
  }
  .image-container {
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  .rate-product-container {
    width: 63vw;
  }
}
