.login-container {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}
.header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header span {
  margin: auto;
}

.login-image {
  width: 150px;
  display: flex;
  margin: 10px auto;
  padding-top: 20px;
}

.login-form {
  padding: 0px 20px;
  text-align: center;
}

.form-control {
  width: 100%;
}
.btn-login {
  width: 200px;
}
.login-link-container {
  margin-bottom: 10px;
  text-align: center;
}
.login-link-container a {
  text-decoration: underline;
  color: #3f51b5;
  padding-left: 5px;
}
