::ng-deep .mat-horizontal-stepper-content .address-container,
::ng-deep .mat-horizontal-stepper-content .user-container {
  width: 50%;
  margin: auto;
}

.address-container,
.user-container,
.summary-container {
  margin-top: 10px;
}

@media (max-width: 850px) {
  ::ng-deep .mat-horizontal-stepper-content .address-container,
  ::ng-deep .mat-horizontal-stepper-content .user-container {
    width: 70%;
  }
}

@media (max-width: 650px) {
  ::ng-deep .mat-horizontal-stepper-content .address-container,
  ::ng-deep .mat-horizontal-stepper-content .user-container {
    width: 100%;
  }
}
