<mat-stepper linear #stepper>
  <ng-container *ngIf="addressForm$ | async as addressForm">
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Address for Delivery</ng-template>
      <app-address-form></app-address-form>
    </mat-step>
  </ng-container>
  <ng-container *ngIf="userForm$ | async as userForm">
    <mat-step [stepControl]="userForm">
      <ng-template matStepLabel>User Information</ng-template>
      <app-user-form></app-user-form>
    </mat-step>
  </ng-container>
  <mat-step>
    <ng-template matStepLabel>Order Information</ng-template>
    <app-order-summary></app-order-summary>
  </mat-step>
</mat-stepper>