.order-table {
  position: relative;
  overflow-y: scroll;
  background: white;
}
table {
  width: 100%;
}
th {
  font-size: 14px;
}
td,
th {
  width: 20%;
  text-align: center;
}
:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}
:host ::ng-deep th:first-child .mat-sort-header-container {
  justify-content: flex-start;
}
:host ::ng-deep th:last-child .mat-sort-header-container,
td:last-child {
  justify-content: flex-end;
}

th:first-child.mat-header-cell {
  text-align: left;
}
.mat-header-cell {
  text-align: center;
}

.product-link {
  display: flex;
  align-items: center;
}

.product-link img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 5px 10px 5px 0px;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid rgb(147, 145, 145);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: auto;
}
.actions button:first-of-type {
  margin-right: 10px;
}

.product-detail-row {
  height: 0px;
}
.product-row td {
  border-bottom-width: 0;
}

.product-row-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  box-shadow: inset 2px 3px 8px #c1c1c1;
  border-radius: 8px;
}
.product-row-detail > p {
  margin: 10px;
}

.image-container {
  margin: 20px;
}

.mat-chip-list-stacked {
  display: flex;
  margin: 20px;
}
.mat-chip-list-stacked p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-chip-list-stacked p .mat-chip {
  width: auto;
}
.mat-chip-list-stacked p span {
  min-width: 100px;
  text-align: left;
}

@media (max-width: 600px) {
  .product-row-detail {
    justify-content: center;
  }
  .mat-chip-list-stacked p span {
    text-align: center;
  }
  .mat-chip-list-stacked p {
    flex-direction: column;
    width: auto;
  }
  .mat-chip-list-stacked p .mat-chip {
    justify-content: center;
    width: auto;
  }

  :host ::ng-deep .mat-chip-list-stacked .mat-chip-list-wrapper {
    align-items: center;
  }
  .product-link {
    flex-direction: column;
  }
  table {
    width: 650px !important;
  }
}

@media (max-width: 1000px) {
  .order-table {
    width: 1000px;
    height: 310px;
    max-width: 100%;
    overflow: auto;
  }

  table {
    width: 1000px;
  }
}

@media (min-width: 1001px) and (max-width: 1285px) {
  .order-table {
    width: calc(100vw - 286px - 6rem);
  }
  table {
    width: 1000px;
  }
}

@media (max-width: 825px) {
  .image-container {
    display: none;
  }
}
