.no-products {
  text-align: center;
  height: calc(80vh - 10rem);
}

.icon {
  font-size: 12rem;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.mat-card-title {
  margin-bottom: 12px;
}
.btn {
  margin-top: 20px;
}
