<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" class="menu-btn">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">Pizza Masterpiece</span>
  <span class="spacer"></span>
  <nav>
    <ul>
      <li>
        <a mat-button routerLink="/">
          <mat-icon routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">home</mat-icon>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/cart">
          <mat-icon routerLinkActive="active" [matBadge]="(cartListCounter | async)" matBadgeColor="warn"
            [matBadgeHidden]="(cartListCounter | async) === 0">shopping_cart
          </mat-icon>
          <span>Your Cart</span>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/favorites">
          <mat-icon routerLinkActive="active" [matBadge]="favoritesListCounter | async" matBadgeColor="warn"
            [matBadgeHidden]="(favoritesListCounter | async) === 0">
            favorites</mat-icon>
          <span>Your Favorites</span>
        </a>
      </li>
      <ng-container [ngTemplateOutlet]="(isLogged$ | async) ? isLogged : isNotLogged">
      </ng-container>
    </ul>
  </nav>
</mat-toolbar>

<ng-template #isNotLogged>
  <li>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Account menu">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
  </li>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/user/login">
      <mat-icon routerLinkActive="active">login</mat-icon>
      <span>Login</span>
    </a>
    <a mat-menu-item routerLink="/user/register">
      <mat-icon routerLinkActive="active">how_to_reg</mat-icon>
      <span>Register</span>
    </a>
  </mat-menu>
</ng-template>

<ng-template #isLogged>
  <li>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Account menu">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
  </li>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/user/profile">
      <mat-icon routerLinkActive="active">personal_injury</mat-icon>
      <span>My Profile</span>
    </a>
    <a mat-menu-item routerLink="/orders">
      <mat-icon routerLinkActive="active">format_list_bulleted</mat-icon>
      <span>Your Orders</span>
    </a>
    <a mat-menu-item routerLink="/admin/create">
      <mat-icon routerLinkActive="active">format_list_bulleted</mat-icon>
      <span>Create Product</span>
    </a>
    <button mat-menu-item (click)="logoutHandler()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</ng-template>