mat-toolbar {
  height: 4rem;
}
.spacer {
  flex: 1 1 auto;
}

nav ul {
  display: flex;
}
nav ul a,
nav ul li button {
  border-bottom: 1px solid transparent;
}
nav ul li a:hover,
nav ul li button:hover,
.active {
  border-bottom: 1px solid white;
}

nav ul li a span {
  margin-left: 13px;
}

@media (max-width: 800px) {
  li span {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
}

@media (min-width: 700px) {
  .menu-btn {
    display: none;
  }
}
