<mat-card class="aside-menu">
  <div class="user-container-info">
    <img [src]="(userImage$ | async)?.url || noAvatarImagePath" alt="profile-img">
    <div class="user-info">
      <p><strong>{{((user$ | async)?.firstName) || 'Anonymous'}} </strong></p>
      <p class="user-role">
        <mat-icon *ngIf="(user$ | async)?.role === 'Admin'">
          admin_panel_settings
        </mat-icon>
        <mat-icon *ngIf="(user$ | async)?.role !== 'Admin'">
          person
        </mat-icon>
        <span>{{(user$ | async)?.role || 'Guest'}}</span>
      </p>
      <p class="user-status">
        <mat-icon>circle</mat-icon>
        <span>Online</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Profile
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="navigation">
        <li *ngIf="(user$ | async)">
          <a mat-menu-item routerLink="/user/profile">
            <mat-icon routerLinkActive="active">personal_injury</mat-icon>
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a mat-menu-item routerLink="/cart">
            <mat-icon routerLinkActive="active">shopping_cart</mat-icon>
            Cart
          </a>
        </li>
        <li>
          <a mat-menu-item routerLink="/favorites">
            <mat-icon routerLinkActive="active">favorites</mat-icon>
            Favorites
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="(user$ | async)?.role === 'Admin'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Administration
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="navigation">

      </ul>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>