<div [class]="{ 'rating-container':true, vertical:position === 'vertical'}">
  <div class="rating">
    <mat-icon class="icon">star_rate</mat-icon>
    <mat-icon class="icon">star_rate</mat-icon>
    <mat-icon class="icon">star_rate</mat-icon>
    <mat-icon class="icon">star_rate</mat-icon>
    <mat-icon class="icon">star_rate</mat-icon>
    <p class="rating-inner" [ngStyle]="{width: (rating*20 || 0)+'%'}">
      <mat-icon class="icon-overlay">star_rate</mat-icon>
      <mat-icon class="icon-overlay">star_rate</mat-icon>
      <mat-icon class="icon-overlay">star_rate</mat-icon>
      <mat-icon class="icon-overlay">star_rate</mat-icon>
      <mat-icon class="icon-overlay">star_rate</mat-icon>
    </p>
  </div>
  <span class="text" *ngIf="showRatingInfo">( {{(rating || 0) | decimalFixed:1 }} / 5.0 )</span>
</div>