<section class="admin-products-container">
  <app-aside-menu></app-aside-menu>
  <div class="products-content">
    <mat-toolbar color="primary">
      <div class="header">
        <mat-icon matPrefix class="icon">card_giftcard</mat-icon>
        <span class="title">Products</span>
      </div>
      <span class="spacer"></span>
      <app-search [searchCriterion]="searchCriterion" (onSearch)="onSearchHandler($event)"></app-search>
    </mat-toolbar>
    <app-products-table></app-products-table>
  </div>
</section>