.container {
  width: 100%;
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.main {
  position: relative;
  margin: 3rem auto;
  width: 92%;
  min-height: calc(100vh - 13rem);
}

@media (max-width: 650px) {
  .main {
    margin: 1rem auto;
    min-height: calc(100vh - 9rem);
  }
}
