::ng-deep .mat-snack-bar-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.snackbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.snackbar-container span {
  color: white;
  margin-right: 10px;
}
.snackbar-container button {
  border: 1px solid white;
}

.success {
  background-color: #036c03;
}
.error {
  background-color: #6c1303;
}

@media (max-width: 650px) {
  ::ng-deep .mat-snack-bar-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
