.product-card {
  width: 250px;
}
.product-card a {
  color: inherit;
}
.mat-card-header {
  width: 100%;
  justify-content: center;
}
.card-image {
  width: 250px;
  height: 220px;
  object-fit: cover;
}
.card-description {
  height: 50px;
}
.mat-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
