.order-complete-container {
  text-align: center;
}
.order-complete-container .order-status {
  width: 100%;
  min-height: 200px;
  text-align: center;
  flex-direction: column;
  display: flex;
  position: relative;
  align-items: center;
}
.order-status img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.logo {
  margin: 20px;
}

.order-status h2 {
  margin-top: 20px;
}
.order-status h3 {
  margin-top: 16px;
  margin-bottom: 0px;
}
.order-status > strong {
  color: rgb(56, 161, 202);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .order-status h3 {
    margin-bottom: 10px;
  }
  .actions button {
    margin-left: 0px;
    text-align: left;
    min-width: 180px;
    margin: auto;
    margin-bottom: 10px;
  }
}
