<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <mat-form-field class="form-control" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Old Password</mat-label>
      <input matInput [type]="oldPasswordHide ? 'password' : 'text'" formControlName="oldPassword" />
      <button
        mat-icon-button
        matSuffix
        (click)="oldPasswordHide = !oldPasswordHide"
        aria-label="Hide password"
        type="button"
        [attr.aria-pressed]="oldPasswordHide"
        tabindex="-1">
        <mat-icon>{{ oldPasswordHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          passwordForm.controls['oldPassword'].hasError('minlength') &&
          !passwordForm.controls['oldPassword'].hasError('required')
        ">
        Old Password should be at least 6 characters
      </mat-error>
      <mat-error *ngIf="passwordForm.controls['password'].hasError('required')"> Old Password is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>New password</mat-label>
      <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="passwordHide = !passwordHide"
        type="button"
        aria-label="'passwordHide password'"
        [attr.aria-pressed]="passwordHide"
        tabindex="-1">
        <mat-icon>{{ passwordHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls['password'].hasError('minlength')">
        Password should be at least 6 characters
      </mat-error>
      <mat-error *ngIf="passwordForm.controls['password'].hasError('required')"> Password is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Repeat password</mat-label>
      <input matInput [type]="rePasswordHide ? 'password' : 'text'" formControlName="repeatPassword" />
      <button
        mat-icon-button
        matSuffix
        (click)="rePasswordHide = !rePasswordHide"
        type="button"
        aria-label="'rePasswordHide password'"
        [attr.aria-pressed]="rePasswordHide"
        tabindex="-1">
        <mat-icon>{{ rePasswordHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls['repeatPassword'].hasError('required')">
        Repeat Password is required
      </mat-error>
      <mat-error *ngIf="passwordForm.controls['repeatPassword'].hasError('isNotSame')">
        Passwords does't match
      </mat-error>
    </mat-form-field>
  </div>

  <div class="btn-actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="passwordForm.invalid || (updateUserPasswordIsLoading$ | async)">
      Save
    </button>
  </div>
</form>
