.form-row {
  display: flex;
  justify-content: space-between;
}

.btn-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.btn-actions button {
  width: 150px;
}

@media (max-width: 1120px) {
  .form-row {
    flex-direction: column;
  }
}
