<section class="admin-users-container">
  <app-aside-menu></app-aside-menu>
  <div class="users-content">
    <mat-toolbar color="primary">
      <div class="header">
        <mat-icon matPrefix class="icon">person</mat-icon>
        <span class="title">Users</span>
      </div>
      <span class="spacer"></span>
      <app-search [searchCriterions]="searchCriterions" (onSearch)="onSearchHandler($event)"></app-search>
    </mat-toolbar>
    <app-users-table></app-users-table>
  </div>
</section>