mat-card-content {
  display: flex;
  justify-content: space-between;
}

.image-container {
  flex: 4;
  padding: 15px;
  padding-top: 0;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 480px;
  max-height: 400px;
  object-fit: contain;
}

.product-content {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-rating {
  display: flex;
}
.product-rating h2 {
  margin-right: 10px;
}
.select-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.extras .mat-chip.mat-standard-chip button {
  opacity: 0.8;
}

.extras-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.amount-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  flex-direction: column;
}
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount input {
  width: 40px;
  text-align: center;
  padding: 0px 10px;
  margin-left: 10px;
  flex: 2;
  outline: none;
  border: none;
  font-size: 20px;
}

.info {
  flex: 8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info > div {
  display: flex;
  justify-content: space-between;
}
.extras {
  margin-bottom: 20px;
}

.mat-chip-list-stacked p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-chip-list-stacked p strong {
  min-width: 50px;
}

.weight {
  position: relative;
  margin-top: 30px;
}
.weight strong {
  position: absolute;
  top: -20px;
  width: 60px;
}
.weight .mat-icon {
  font-size: 30px;
}

.price strong {
  font-size: 30px;
  color: #f44336;
}

.actions {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  width: 33%;
}

@media (max-width: 1000px) {
  .select-options,
  mat-card-content {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .actions button span {
    display: none;
  }
  .info {
    width: 100%;
  }
}
@media (min-width: 780px) and (max-width: 1000px) {
  .image-container {
    display: flex;
    justify-content: flex-start;
  }
  .ingredients-container {
    margin-left: 20px;
  }
}

@media (max-width: 800px) {
  .info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mat-chip-list-stacked p {
    flex-direction: column;
    min-width: none;
  }
  .weight strong {
    width: 40px;
  }
  :host ::ng-deep .mat-chip-list-stacked .mat-chip-list-wrapper {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .image-container {
    padding: 0;
  }
  .mat-card-header {
    justify-content: center;
  }
  .product-content {
    margin-top: 10px;
  }
  .product-info {
    flex-direction: column;
    align-items: center;
  }
  .weight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weight .mat-icon {
    font-size: 24px;
  }
}
