<mat-card *ngIf="(product$|async) as product">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="image-container">
      <img [src]="product.image.url" [alt]="product.name">
      <div class="ingredients-container">
        <h2 matCardTitle>Ingredients:</h2>
        <mat-chip-list>
          <mat-chip *ngFor="let obj of product.ingredients" color="primary" selected>
            {{obj.ingredient}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="product-content">
      <div class="product-rating">
        <h2 matCardTitle>Rating:</h2>
        <app-star-rating [rating]="88" [showRatingInfo]="true"></app-star-rating>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="select-options">
        <mat-form-field appearance="outline">
          <mat-label>Size</mat-label>
          <mat-select [formControl]="sizeControl">
            <mat-option *ngFor="let sizeObj of product.sizes" [value]="sizeObj.size">{{sizeObj.size |
              firstCapitalLetter}} ({{sizeObj.pieces}} pieces) </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Dough</mat-label>
          <mat-select [formControl]="doughControl">
            <mat-option *ngFor="let doughObj of product.doughs" [value]="doughObj.dough">{{doughObj.dough |
              firstCapitalLetter}} ( + {{doughObj.price | decimalFixed}} BGN)</mat-option>
          </mat-select>
          <mat-error *ngIf="doughControl.hasError('required')">Please choose a dough</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Extras</mat-label>
          <mat-select [formControl]="extrasControl" multiple>
            <mat-option *ngFor="let extraObj of product.extras" [value]="extraObj.extra">{{extraObj.extra |
              firstCapitalLetter}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="(extrasControl.valueChanges|async) as extras" class="extras">
        <h2 matCardTitle *ngIf="extras.length > 0">Extras:</h2>
        <mat-chip-list>
          <mat-chip *ngFor="let extra of extras" color="primary" selected (removed)="remove(extra)">
            {{extra}}
            <button matChipRemove>
              <mat-icon color="warn">cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="info-container">
        <div class="amount-container">
          <h2 matCardTitle>Amount</h2>
          <div class="amount">
            <button mat-mini-fab color="primary" (click)="setAmountValue('increase')">
              <mat-icon>add</mat-icon>
            </button>
            <input matInput type="number" [readonly]="true" [formControl]="amountControl" />
            <button mat-mini-fab color="primary" (click)="setAmountValue('decrease')">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="info">
          <div class="product-info">
            <mat-chip-list class="mat-chip-list-stacked">
              <p><strong>Size:</strong>
                <mat-chip color="primary" selected>{{sizeControl.value}}</mat-chip>
              </p>
              <p><strong>Dough:</strong>
                <mat-chip color="primary" selected> {{doughControl.value}}</mat-chip>
              </p>
            </mat-chip-list>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="weight">
              <strong>550 g</strong>
              <mat-icon>scale</mat-icon>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="price">
              <h2 matCardTitle>Total price:</h2>
              <strong>{{totalPrice | decimalFixed}} BGN</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button mat-flat-button color="primary">
          <mat-icon>shopping_cart_checkout</mat-icon>
          <span>Add to Cart</span>
        </button>
        <button mat-flat-button color="accent">
          <mat-icon>favorite</mat-icon>
          <span>Add to Favorites</span>
        </button>
        <button mat-raised-button color="warn">
          <mat-icon>star</mat-icon>
          <span>Leave a review</span>
        </button>

      </div>
    </div>

  </mat-card-content>
</mat-card>