<button mat-raised-button for="file" (click)="uploadHandler(inputRef)" type="button" [disabled]="isLoading">
  {{isLoading ? 'Uploading...' :'Upload image'}}
  <mat-icon>upload</mat-icon>
</button>
<input #inputRef type="file" id="file" (change)="uploadFile($event)" />
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-error *ngIf="inputControl.hasError('required') && inputControl.touched">
  Image is required
</mat-error>

<mat-error *ngIf="inputControl.errors?.['type'] && !inputControl.hasError('required')">
  The file must be of type image
</mat-error>