.form-control {
  width: 100%;
  display: block;
}

.order-container {
  display: flex;
  justify-content: space-between;
}
.mat-toolbar {
  margin-bottom: 30px;
}
.mat-card .mat-divider-horizontal {
  position: relative;
}

.user-info > .user-information {
  display: flex;
}
.user-info {
  flex: 8;
  margin-right: 20px;
}
.order-info {
  flex: 4;
}

.user,
.address {
  width: 100%;
}
.user {
  margin-right: 20px;
}
.total-products {
  margin-top: 8px;
}
.total-price {
  text-align: center;
  justify-content: center;
}
.total-price h2 {
  margin-bottom: 5px;
}
.mat-card > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-actions {
  display: flex;
  justify-content: space-between;
}
.btn-actions > button:first-child {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .user-info {
    margin-right: 0px;
  }
  .user-information {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .user-info {
    margin-right: 0px;
  }

  .order-container {
    flex-direction: column;
  }
  .btn-actions {
    margin-top: 20px;
  }
}
