<div class="order-container">
  <div class="user-info">
    <mat-toolbar color="primary"> User Information</mat-toolbar>
    <div class="user-information">
      <div class="user">
        <app-user-form [hideActions]="true"></app-user-form>
      </div>
      <div class="address">
        <app-address-form [hideActions]="true"></app-address-form>
      </div>
    </div>
  </div>
  <div class="order-info">
    <mat-toolbar color="primary"> Order Summary</mat-toolbar>
    <div>
      <mat-card>
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Payment Method</mat-label>
          <mat-icon matPrefix>payment</mat-icon>
          <mat-select [formControl]="paymentMethodControl">
            <mat-option value="cache">Cache</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <p class="total-products">
          <span>Total products:</span>
          <span>{{ (cartTotalProducts$ | async) || 0 }}</span>
        </p>
        <p>
          <span>Price:</span>
          <span>{{ (cartPrice$ | async) || 0 | decimalFixed }} BGN</span>
        </p>
        <p>
          <span>Delivery price:</span>
          <span>{{ (cartDeliveryPrice$ | async) || 0 | decimalFixed }} BGN</span>
        </p>
        <mat-divider></mat-divider>

        <div class="total-price">
          <h2>Total price:</h2>
          <h2>{{ ((cartPrice$ | async) || 0) + ((cartDeliveryPrice$ | async) || 0) | decimalFixed }} BGN</h2>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="btn-actions">
  <button mat-raised-button matStepperPrevious>Back</button>
  <button
    mat-raised-button
    (click)="completeOrder()"
    [title]="(cartTotalProducts$ | async) === 0 ? 'Your cart is empty!' : ''"
    [disabled]="paymentMethodControl.invalid || (cartTotalProducts$ | async) === 0">
    Confirm Order
  </button>
</div>
