<div class="order-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="(isLoading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <div class="order-table">
    <table mat-table [dataSource]="orders" matSort matSortActive="createdAt" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="_id" sticky>
        <th mat-header-cell *matHeaderCellDef>Order Number</th>
        <td mat-cell *matCellDef="let row">{{row?._id}}</td>
      </ng-container>


      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created</th>
        <td mat-cell *matCellDef="let row">{{row?.createdAt | date: 'short'}}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let row"> {{row?.user?.country}}, {{row?.user?.city}}, {{row?.user?.street}} №
          {{row?.user?.streetNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Status
        </th>
        <td mat-cell *matCellDef="let row">{{row?.status}}</td>
      </ng-container>

      <ng-container matColumnDef="totalProducts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Products
        </th>
        <td mat-cell *matCellDef="let row">x {{row?.totalProducts}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear arrowPosition="before">
          Total Price
        </th>
        <td mat-cell *matCellDef="let row">{{row?.price | decimalFixed}} BGN</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/orders',row._id]"></tr>
    </table>
  </div>
  <mat-paginator [length]="ordersCount" [pageSizeOptions]="ordersCount === 0 ? [0]: [5, 10, 15, 20]"
    showFirstLastButtons aria-label="Select page of Orders results">
  </mat-paginator>
</div>