<div class="table-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="(usersIsLoading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <div class="loading-shade" *ngIf="(usersCount$ | async) === 0 && !(usersIsLoading$ | async)">
    No results was found.
  </div>
  <div class="table-wrapper" [ngClass]="{hidden:(usersCount$ | async) === 0}">
    <table mat-table [dataSource]="(users$ | async) || []" matSort matSortActive="createdAt" matSortDisableClear
      matSortDirection="desc" multiTemplateDataRows>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
        <td mat-cell *matCellDef="let row">{{row?._id}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let row"> {{row?.firstName}} {{row?.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
        <td mat-cell *matCellDef="let row">{{row?.email}}</td>
      </ng-container>

      <ng-container matColumnDef="accountStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account status</th>
        <td mat-cell *matCellDef="let row"> {{row?.accountStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="ordersCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Orders</th>
        <td mat-cell *matCellDef="let row"> {{row?.ordersCount | decimalFixed}}</td>
      </ng-container>

      <ng-container matColumnDef="ratedProductsCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rated Products</th>
        <td mat-cell *matCellDef="let row"> {{row?.ratedProductsCount | decimalFixed}}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Role
        </th>
        <td mat-cell *matCellDef="let row">{{row?.role}}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">{{row?.createdAt | date: 'dd/MM/YYYY'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef disableClear>
          Actions
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-button (click)="showUserDetail(row._id)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row">
      </tr>
    </table>
  </div>
  <mat-paginator [length]="(usersCount$ | async)" [pageSizeOptions]="[5,10, 20, 30]" showFirstLastButtons
    aria-label="Select page of Users results">
  </mat-paginator>
</div>