<section class="order-container">
  <app-aside-menu></app-aside-menu>
  <div class="order-content">
    <mat-toolbar color="primary">
      My Orders
    </mat-toolbar>
    <ng-container *ngIf="(ordersCount$ | async) !== 0">
      <app-order-table [orders]="(orders$ | async) || []" [ordersCount]="(ordersCount$ | async) || 0"></app-order-table>
    </ng-container>
    <ng-container *ngIf="(ordersCount$ | async) === 0">
      <app-no-products type="orders"></app-no-products>
    </ng-container>
  </div>
</section>