.my-orders-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.my-orders-content {
  width: 100%;
}

app-aside-menu {
  flex: 2 1;
  position: sticky;
  top: 3rem;
}

@media (max-width: 1000px) {
  app-aside-menu {
    display: none;
  }
}

@media (min-width: 1001px) and (max-width: 1121px) {
  .my-orders-content {
    margin-left: 20px;
  }
}
