<section class="admin-orders-container">
  <app-aside-menu></app-aside-menu>
  <div class="orders-content">
    <mat-toolbar color="primary">
      <div class="header">
        <mat-icon matPrefix class="icon">list_alt</mat-icon>
        <span class="title">Orders</span>
      </div>
      <span class="spacer"></span>
      <app-search [searchCriterion]="searchCriterion" (onSearch)="onSearchHandler($event)"></app-search>
    </mat-toolbar>
    <app-orders-table></app-orders-table>
  </div>
</section>
