.admin-orders-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.orders-content {
  width: 100%;
}

app-aside-menu {
  flex: 2 1;
  position: sticky;
  top: 3rem;
}

.icon {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 400px) {
  .title,
  .icon {
    display: none;
  }
}

@media (max-width: 660px) {
  .title {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  app-aside-menu {
    display: none;
  }
}

@media (min-width: 1001px) and (max-width: 1121px) {
  .orders-content {
    margin-left: 20px;
  }
}
