form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-control {
  width: 100%;
}

.link {
  margin-bottom: 10px;
}
.link a {
  text-decoration: underline;
  color: #3F51B5;
}
